<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Book Your Demo</title>
</head>
<body>

<h1 style="text-align: center;">Available Demo </h1>



	<table class="table">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Date</th>
      <th scope="col">Demo Mode</th>
      <th scope="col">Available Demo</th>
      <th scope="col">ClassID</th>
      <th scope="col">Book</th>
    </tr>
      
  </thead>
  <tbody>
    <tr>
    	{% for each in supers %}
    	  <tr>
	      <th scope="row">{{ each.date }}</th>
	      <td>{{ each.Mode_type }}</td>
	      <td>{{ each.no_demo }}</</td>
	      <td>{{ each.classid }}</td>
	      <td>
          <form  method="POST" action="userbooking" >

            {% csrf_token %}
             
            <button type="submit" style=" border: none;
	      padding: 15px 20px;
	       border-radius: 25px;
	     background:#1161ee; color: white;">Book</button></form></td>
	     </tr>
      	{% endfor %}
    </tr>
    
  </tbody>
</table>









<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>