{% load static %}

<!DOCTYPE html>

<html>
<head>
	<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href=" /static/assets/css/util.css">
  <link rel="stylesheet" type="text/css" href=" /static/assets/css/main.css">
</head>
	<title>Demo Page</title>
</head>
<body>

<style type="text/css">
  label{
color: gray; 
position: absolute;
margin-left: 70px; 
margin-top: 15px; 
font-size: 14px;

  }
h1{
  text-align: center;
  font-size: 30px;
}
input{
  position: absolute;
  margin-left: 230px;
  border: transparent;
  padding: 15px 20px;
  border-radius: 25px;
 font-size: 14px;
}
.submit{
border: none;
padding: 15px 20px;
border-radius: 25px;
background:#1161ee; 
color: white;
position: absolute;
width: 25%;
margin-left: 37%;
}
</style>

<div class="container-login100">
      <div class="wrap-login100" >
      	<div class="login100-form-title" style=" height: 150px; background-image: url('{% static "assets/img/121.jpg"%}') "; ">
        
 
    
  <span class="login100-form-title-1">
        <h1  style="">Request Demo</h1>
          </span>
       </div>

<form action="demo" method="POST">
  {% csrf_token %}  
<label for="username">Username :</label> 
<input type="text" name="username" placeholder="User name"><br><br>
<label for="username">Mobile No :</label> 
<input type="tel" name="mobile" placeholder="Mobile no"><br><br>
<label for="username">Email :</label> 
<input type="email" name="email" placeholder="email"><br><br>
<label for="username">Company / Institution:</label> 
<input type="Company" name="Company" placeholder="Company / Institution"><br><br><br>
<input type="submit" name="submit" class="submit" 
  style="  "><br><br>
</form>

<br><br>

</div>
</div>

</body>

</html>